<a class="icon-btn" href="https://github.com/Ayush21298" target="_blank" rel="noopener me" title="GitHub" aria-label="Ayush Patel on GitHub">{% include icon.html name="github" %}</a>
<a class="icon-btn" href="https://www.linkedin.com/in/ayush21298" target="_blank" rel="noopener me" title="LinkedIn" aria-label="Ayush Patel on LinkedIn">{% include icon.html name="linkedin" %}</a>
<a class="icon-btn" href="https://twitter.com/Ayush21298" target="_blank" rel="noopener me" title="X (Twitter)" aria-label="Ayush Patel on X (Twitter)">{% include icon.html name="twitter" %}</a>
<a class="icon-btn" href="https://www.instagram.com/ayush21298/" target="_blank" rel="noopener me" title="Instagram" aria-label="Ayush Patel on Instagram">{% include icon.html name="instagram" %}</a>
<a class="icon-btn" href="https://www.facebook.com/ayush21298/" target="_blank" rel="noopener me" title="Facebook" aria-label="Ayush Patel on Facebook">{% include icon.html name="facebook" %}</a>
<a class="icon-btn" href="https://gitlab.com/Ayush21298" target="_blank" rel="noopener me" title="GitLab" aria-label="Ayush Patel on GitLab">{% include icon.html name="gitlab" %}</a>
<a class="icon-btn" href="/feed.xml" title="RSS feed" aria-label="RSS feed">{% include icon.html name="rss" %}</a>
